.container {
    margin: auto;
    display: block;
    padding: 2%;
}

.chart{
  width: 100%; 
  height: 558px; 
  display: block; 
  margin: auto;
}

.example-input{
  margin: 2%;
  margin-bottom: 0% !important;
  width: 30%;
  background-color: transparent !important;
}

.btn {
  margin-top: 2%;
  position: absolute;
}

.example {
    display: block;
    margin: auto;
    width: 98%;
    overflow-x: auto;
    scroll-behavior: smooth;
  }


.spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.spinner:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.mt-grafico {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  max-width: 98%; 
  display: block; 
  margin: auto; 
  margin-top: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

:host ::ng-deep mat-tab-body.mat-tab-body-active {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
  flex-grow: 1;
  scroll-behavior: smooth !important;
}

::ng-deep {
  * {
    scrollbar-width: thin;
    scrollbar-color: lightgray white;
  }
  
  *::-webkit-scrollbar {
    width: 12px;
    height: 12px !important;
  }
  
  *::-webkit-scrollbar-track {
    background: white;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 15px;
    border: 3px solid white;
  }
}