<div class="container">
    <mat-tab-group mat-stretch-tabs preserveContent>
        <mat-tab label="Nuvem de Palavras">
            <form>
                <mat-form-field class="example-input">
                    <mat-label>Número de palavras na Nuvem</mat-label>
                    <input matInput value="20" type="number" min="1" max="1000" [formControl]="qtdPalavras" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="!qtdPalavras.hasError('required')">
                        Insira um número entre 1 e 150
                    </mat-error>
                </mat-form-field>

                <button mat-flat-button color="primary" class="btn" [disabled]="!qtdPalavras.valid" (click)="loadCloud()">Filtrar</button>
            </form>

            <mat-card class="mt-grafico">
                <app-cloud #nuvem *ngIf="showGrafico" [data]="dataChart" class="chart"></app-cloud>
            </mat-card>   
            
            <mat-spinner *ngIf="!showGrafico" class="spinner"></mat-spinner>
        </mat-tab>

        <mat-tab label="Relatório AD-HOC">
            <ng-template matTabContent>
                <app-adhoc [data]="dataTable"></app-adhoc>

                <mat-spinner *ngIf="!showGrafico" class="spinner"></mat-spinner>
            </ng-template>
        </mat-tab>

        <mat-tab label="Relatório Avançado">
            <!-- <ng-template matTabContent> -->
                <app-avancado></app-avancado>

                <mat-spinner *ngIf="!showGrafico" class="spinner"></mat-spinner>
            <!-- </ng-template> -->
        </mat-tab>
    </mat-tab-group>
</div>